<div [disabled]="controlDir.control!.disabled! || disabled"
     [errors]="errorsAsArray"
     [label]="label"
     [name]="controlDir.name!"
     [required]="required"
     [touched]="controlDir.control!.touched!"
     [valid]="controlDir.control!.valid!"
     [helpText]="helpText"
     app-input-wrapper>
    <input (blur)="onBlur()"
           (input)="onChange($any($event.target).value)"
           [(ngModel)]="value"
           [disabled]="controlDir.control!.disabled! || disabled"
           [id]="controlDir.name!"
           [ngClass]="validClass || ''"
           [placeholder]="placeholder"
           pInputText
           type="text">
</div>
